.main{
    margin: 0%;
    
}
.j{
    font-size: 60px;
    font-weight: 500;
    line-height: 76.56px;
    text-align: left;


}
.a{
    font-family: Space Grotesk;
    font-size: 30px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
}
.g{
    background-image: url(./img/pic\ 1.png);
    background-repeat: no-repeat;
    background-size:auto ;
    height: 515px;
    width: 100%;
}

    
    
    
  
    



